@import "tailwindcss";

:root {
  --primary: #5100ff;
  --primary-rgb: 81 0 255;
  --background-light: #f6f5f8;
  --background-dark: #150f23;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-grotesk: var(--font-grotesk);
  --color-primary: var(--primary);
  --color-primary-rgb: var(--primary-rgb);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
}

@layer base {
  body {
    background-color: var(--color-background-light);
    color: rgb(15 23 42);
    font-family: var(--font-inter), system-ui, sans-serif;
  }

  .skeleton {
    @apply bg-linear-to-r from-slate-200 via-slate-100 to-slate-200 bg-size-[200%_100%];
    animation: loading 1.5s infinite;
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

